body {
    background-color: #343a40;
    color: #ccc;
}
.btn-dark {
    background-color: #212529;
}
.table-dark {
    color: #ccc;
}
img {
    max-height: 22px;
    max-width: 40px;
}
table {
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
.table th {
    border-top: none;
}